/* RESET RULES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* LAYOUT */
body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
        font-weight: <weight>;
    font-style: normal;
}

/* header */
.header-sec {
    background-color: #255EE9;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.jst-content {
    justify-content: space-between;
    min-height: 25px;
}

.ul-center {
    display: flex;
    align-items: center;
    gap: 10px;
}

a, li, .col-header {
    color: white;
}

/* main */
.main-sec {
    padding-top: 15px;
    padding-bottom: 15px;
}

.accedi {
    color: black;
    background-color: white;
    width: 70px;
}

/* prima sezione */
.jumbo { 
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    padding: 190px;
} 

.text-jumbo {
    max-width: 800px;
    margin: 0 auto;
    min-height: 150px;
}

.text-jumbo h1, p, div {
    color: white;
    text-align: center;
}

.fake-btn {
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    border-radius: 17px;
    line-height: 32px;
}

.bianco {
    color: black;
    background-color: white;
    width: 150px;
    margin-right: 13px;
}

.nero {
    background-color: black;
    width: 240px;
}

.text-jumbo p {
    margin-top: 30px;
    margin-bottom: 15px;
}

/* seconda e quarta sezione */
.azzurro {
    min-height: 300px;
    width: calc( 2 * 100% / 3);
}

.rosetto {
    min-height: 300px;
    width: calc( 100% / 3 );
    align-self: center;
}

.rosetto h2 {
    color: black;
}

.rosetto p {
    color: black;
}

/* terza sezione */
.color-purple-blu {
    flex-direction: row-reverse;
}

.color-grey {
    background-color: lightgray;
}

/* quinta sezione */
.color-green {
    background-color: lightgray;
}

.color-green .container div {
    min-height: 550px;
}

.color-green p {
    color: black;
}

.color-green h2 {
    margin-bottom: 20px;
    color: black;
}

.blu {
    color: white;
    background-color: rgb(37, 94, 233, 0.5);
    width: 160px;
    margin-right: 13px;
}

/* footer */

/* prima sezione footer */
.color-salmon {
    background-color: rgb(51, 51, 51);
}

.salmone {
    min-height: 300px;
    flex-basis: 40%;
}

.azzurro-spento {
    min-height: 300px;
    flex-basis: 15%;
    text-align: left;
}

/* seconda sezione footer */
.footer-sec {
    background-color: rgb(51, 51, 51);
}

.acqua {
    padding-top: 7px;
    padding-bottom: 25px;
    justify-content: space-between;
}

.end-btn {
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    border-radius: 17px;
    line-height: 32px;
    color: white;
    background-color: #7C98DE;
    width: 100px;
    margin-right: 13px;
}

/* DEBUG RULES */
